originalsystemtravelontop/src/main/mule/global/travelontip_externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="travelontipbookingsystemFlow" doc:id="01fbab1e-3277-49bd-9afc-017cd3067a0a" >
		<http:listener doc:name="Listener" doc:id="eebb02dc-ba52-43d3-8cef-712eb749664a" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="6441a0be-976d-465c-8d04-9b2c1c8fa2bc" message="recieving request on system api with transactionId = #[attributes.headers.transactionId ++ attributes.uriParams.serviceType] "/>
		<ee:transform doc:name="Transform Message" doc:id="2e667df2-cdc5-48b4-a8e8-a0da8d688bd3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType default ""]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="ec728165-f69e-4b36-89a6-eed874104930" >
			<when expression='#[vars.serviceType == "routes"]'>
				<logger level="INFO" doc:name="routes choice Logger" doc:id="663f5ede-94f9-4240-91a2-fc8243d533be" message="routes is called for #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="d528755e-59dc-47d4-ac06-73fd90b215e3" name="travelOnTip_Routes_implementationFlow"/>
			</when>
			<when expression='#[vars.serviceType == "scheduele"]'>
				<logger level="INFO" doc:name="routes choice Logger" doc:id="a1dd6556-eb62-4eec-ac7e-e00cffe8e50e" message="schedule is called for #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="d0fc1378-9c4d-4c3f-8150-13aa002bde12" name="travelOnTip_scheduele_implementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a4346aac-88a3-4898-9309-b30d09ad73a3" message="default: #[vars.serviceType]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="681a59e0-ba05-4c24-ae39-5e59410bce1b" message="#[output application/json&#10;---&#10;{uri: message.attributes.uriParams}]"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="48303fc6-dd0d-498d-8ce6-0d3be01b318b" >
				<logger level="INFO" doc:name="Logger" doc:id="4d6fb40d-b82c-485c-9860-0838a1dab550" message="error ++ #[output application/json --- payload]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
